<h2>@Model.Name</h2>
<img src="@Model.Image" />
<h3>@Model.Price</h3>
<p>@Model.Description</p>

<div class="d-flex">
    <a class="btn btn-warning" asp-controller="Shoe" asp-action="Edit" asp-route-id="@Model.ShoeId">Modifica</a>

    <form asp-controller="Shoe" asp-action="Delete" asp-route-id="@Model.ShoeId" method="post">
        <button class="btn btn-danger">Elimina</button>
    </form>
</div>
